%header.cell
  = link img('haml.png', alt: 'Haml'), '/', class: 'logo'
  %ul
    %li= link 'About', '/about.html'
    %li= link 'Tutorial', '/tutorial.html'
    %li= link 'Documentation', '/docs.html'
    %li= link 'Blog', 'http://haml.tumblr.com/'
    %li= link 'Help', '/help.html'
