!!! 5
<!--[if lte IE 8]><html lang="en" class="ie"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
%head
  %meta{charset: 'utf-8'}
  %meta{name: 'viewport', content: 'width=device-width,initial-scale=1.0'}
  %meta{name: 'description', content: 'A Template Engine for Ruby on Rails'}
  %meta{name: 'keywords', content: 'Haml, HAML, haml, Rails, Ruby, Ruby on Rails, Template, Template Engine, HTML Abstraction Markup Language'}
  %meta{name: 'verify-v1', content: '3zvYccFjus45bkqbIvoSzbVRlaQ3JBhHOcC/+DpAeoc='}
  %meta{name: "google-site-verification", content: "_HduvdWLa6WXLgvQNiBbFDb18ZqvHMp_4ocOTEz0Drc"}
  %title&= css
  %link{rel: 'shortcut icon', href: '/images/favicon.ico', type: 'image/x-icon'}
  = stylesheets :application
  / [if lte IE 8]
    %script(src="../javascripts/modernizr.js")
%body
  = partial 'header'
  .cell= yield
  = partial 'footer'
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-3592613-6']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
